body {
    background-image: url("Nintendo2.png");
    background-size: 355px;
    color: tomato;
    font-size: 25px;
}

#start {
    display: block;
    font-size: 20px;
    background-color: white;
    border: dashed;
    border-radius: 15px;
    align-self: center; 
}

#reset {
    display: block;
    font-size: 20px;
    background-color: white;
    border: dashed;
    border-radius: 15px;
    align-self: center; 
}